<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.chookapp.org.bracketeer.processorsFactory" name="BracketeerProcessorsFactory" schema="schema/com.chookapp.org.bracketeer.processorsFactory.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Bracketeer.preferencePages.Main"
            class="com.chookapp.org.bracketeer.preferences.HighlightingBracketsPrefPage"
            id="Bracketeer.preferencePages.Main.BracketHighlighting"
            name="Bracket Highlighting">
         <keywordReference
               id="com.chookapp.org.keywords.bracketHighlighting">
         </keywordReference>
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Editors"
            class="com.chookapp.org.bracketeer.preferences.MainPrefPage"
            id="Bracketeer.preferencePages.Main"
            name="Bracketeer">
      </page>
      <page
            category="Bracketeer.preferencePages.Main"
            class="com.chookapp.org.bracketeer.preferences.HintsPrefPage"
            id="Bracketeer.preferencePages.Main.Hint"
            name="Hints">
         <keywordReference
               id="com.chookapp.org.keywords.hints">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.chookapp.org.bracketeer.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.chookapp.org.bracketeer.core.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        
         <toolbar
               id="com.chookapp.org.bracketeer.toolbar"
               label="Bracketeer toolbar buttons">
            <command
                  commandId="bracketeer.Commands.EnableSurroundingBrackets"
                  icon="icons/surrounding.gif"
                  label="Enable surrounding brackets"
                  style="toggle"
                  tooltip="Enable showing the brackets surrounding the cursor">
            </command>
            <command
                  commandId="bracketeer.Commands.EnableHoveredBrackets"
                  icon="icons/hoveredBrackets.gif"
                  label="Enable hovered brackets"
                  style="toggle"
                  tooltip="Enable showing matching brackets when hovering">
            </command>
            <command
                  commandId="bracketeer.Commands.EnableHintsInEditor"
                  icon="icons/hint.gif"
                  label="Enable hints in editor"
                  style="toggle"
                  tooltip="Enable showing hints in the editor">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.chookapp.org.bracketeer.category"
            description="Enable showing the brackets surrounding the cursor"
            id="bracketeer.Commands.EnableSurroundingBrackets"
            name="Enable surrounding brackets">
         <state
               class="com.chookapp.org.bracketeer.commands.BracketeerToggleState:Surrounding.Enable"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="com.chookapp.org.bracketeer.category"
            description="Enable showing matching brackets when hovering"
            id="bracketeer.Commands.EnableHoveredBrackets"
            name="Enable hovered brackets">
         <state
               class="com.chookapp.org.bracketeer.commands.BracketeerToggleState:Hovering.Enable"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="com.chookapp.org.bracketeer.category"
            description="Enable showing hints in the editor"
            id="bracketeer.Commands.EnableHintsInEditor"
            name="Enable hints in editor">
         <state
               class="com.chookapp.org.bracketeer.commands.BracketeerToggleState:Hints.Globals.ShowInEditor"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <category
            id="com.chookapp.org.bracketeer.category"
            name="Bracketeer">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.chookapp.org.bracketeer.commands.BracketeerToggleCommandHendler"
            commandId="bracketeer.Commands.EnableSurroundingBrackets">
         <activeWhen>
            <with
                  variable="com.chookapp.org.bracketeer.pluginName">
               <not>
                  <equals
                        value="">
                  </equals>
               </not>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.chookapp.org.bracketeer.commands.BracketeerToggleCommandHendler"
            commandId="bracketeer.Commands.EnableHoveredBrackets">
         <activeWhen>
            <with
                  variable="com.chookapp.org.bracketeer.pluginName">
               <not>
                  <equals
                        value="">
                  </equals>
               </not>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.chookapp.org.bracketeer.commands.BracketeerToggleCommandHendler"
            commandId="bracketeer.Commands.EnableHintsInEditor">
         <activeWhen>
            <with
                  variable="com.chookapp.org.bracketeer.pluginName">
               <not>
                  <equals
                        value="">
                  </equals>
               </not>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.chookapp.org.bracketeer.commands.SourceProvider">
         <variable
               name="com.chookapp.org.bracketeer.pluginName"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.chookapp.org.keywords.bracketHighlighting"
            label="brackets matching highlights">
      </keyword>
      <keyword
            id="com.chookapp.org.keywords.hints"
            label="hints matchs">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="bracketeer.Commands.EnableSurroundingBrackets"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+B CTRL+S">
      </key>
      <key
            commandId="bracketeer.Commands.EnableHintsInEditor"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+B CTRL+H">
      </key>
   </extension>

</plugin>
