<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.chookapp.org.bracketeer.processorsFactory">
      <BracketeerProcessorsFactory
            class="com.chookapp.org.bracketeer.jdt.BracketeerProcessorsFactory"
            name="JDT"
            supportedBrackets="()[]&lt;&gt;{}">
         <Hint
               type="type">
         </Hint>
         <Hint
               type="function">
         </Hint>
         <Hint
               type="for">
         </Hint>
         <Hint
               type="break-for">
         </Hint>
         <Hint
               type="foreach">
         </Hint>
         <Hint
               type="switch">
         </Hint>
         <Hint
               type="break-case">
         </Hint>
         <Hint
               type="break-foreach">
         </Hint>
         <Hint
               type="while">
         </Hint>
         <Hint
               type="break-while">
         </Hint>
         <Hint
               type="break-do">
         </Hint>
         <Hint
               type="if">
         </Hint>
         <Hint
               type="synchronized">
         </Hint>
      </BracketeerProcessorsFactory>
   </extension>

</plugin>
