<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.chookapp.org.bracketeer.processorsFactory">
      <BracketeerProcessorsFactory
            class="com.chookapp.org.bracketeer.cdt.BracketeerProcessorsFactory"
            name="CDT"
            supportedBrackets="()[]&lt;&gt;{}">
         <Hint
               type="function">
         </Hint>
         <Hint
               type="type">
         </Hint>
         <Hint
               type="if">
         </Hint>
         <Hint
               type="switch">
         </Hint>
         <Hint
               type="for">
         </Hint>
         <Hint
               type="while">
         </Hint>
         <Hint
               type="preprocess">
         </Hint>
      </BracketeerProcessorsFactory>
   </extension> 

</plugin>
